@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.notice{
	text-align: center;
	font-variant: small-caps;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: left;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	text-align: right;
}

.signature{
	font-variant: small-caps;
}
